.container {
  margin: auto;
  height: 500px;
  width: 500px;
}
.interior {
  position: relative;
  background-color: red;
  height: 150px;
  width: 150px;
}
.div2 {
  background-color: orange;
  top: -150px;
  left: 175px;
}
.div3 {
  background-color: yellow;
  top: -300px;
  left: 350px;
}
.div4 {
  background-color: blue;
  top: -375px;
  left: 75px;
  border: 10px solid white;
}
.div5 {
  background-color: purple;
  height: 150px;
  width: 150px;
  top: -542px;
  left: 285px;
  border: 10px solid white;
}
