.container {
  margin: auto;
  height: 300px;
  width: 300px;
}
.interior {
  position: relative;
  background-color: red;
  height: 150px;
  width: 150px;
}
.div2 {
  background-color: orange;
  border: 10px solid white;
  top: -90px;
  left: 60px;
}
.div3 {
  background-color: yellow;
  border: 10px solid white;
  top: -198px;
  left: 120px;
}
.div4 {
  background-color: blue;
  border: 10px solid white;
  top: -310px;
  left: 180px;
}
.div5 {
  background-color: pink;
  border: 10px solid white;
  top: -420px;
  left: 245px;
}
