.container {
  margin: auto;
  height: 300px;
  width: 300px;
}
.interior {
  position: relative;
  background-color: blue;
  height: 125px;
  width: 125px;
}
.div2 {
  left: 150px;
  top: -125px;
}
.div3 {
  top: -100px;
}
.div4 {
  left: 150px;
  top: -225px;
}
.div5 {
  background-color: red;
  top: -425px;
  left: 70px;
}
